{% extends '::base.html.twig' %}

{% block body -%}
    <h2>{% trans %}title.book.new{% endtrans %}</h2>

    <p>{% trans %}form.isbn.help{% endtrans %}</p>
    {{ form(form_isbn, { 'style': 'inline' }) }}

    <h3>{% trans %}title.book.datas{% endtrans %}</h3>
    {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}
