{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Création de l'entrée du livre</h2>

    <p>Vous pouvez rentrer l'isbn ici puis valider pour cmopléter les autres champs</p>
    {{ form(form_isbn, { 'style': 'inline' }) }}

    <h3>Données du livre</h3>
    {{ form(form, { 'style': 'horizontal' }) }}

{% endblock %}
